<h3 id="carry-and-hand-over">Carry and Hand-over (10 points)</h3>

An assistant (HP) is made available.
From the basic position the D jumps onto the table at the AC and/or VC, from which the
DH picks up the D, carries him 10 steps straight on and hands him over to the HP. During
the carry, the D’s tail must be free.
The DH should be capable of carrying his dog. If the DH is not capable of carrying his dog,
a HP will execute the picking up from a table, carry and hand over. The DH goes along at
the same level until the handing over and then, after it, carries out the remaining part of
the exercise.
Thereafter, the HP carries the D next to the DH 10 steps straight on with the head of the D
towards the DH. The DH may speak to his D.

<img src="https://i.imgur.com/PA2NnuY.png">

{% include alert.html
content="e."
%}

**Execution:**

1.

If the D is not cooperative, is not calm during the carry, growls slightly or pulls back
when picked up or put down, the exercise will be devalued accordingly.
If the D jumps off during the carry, the exercise will be scored as insufficient.
If the D leaves the HP after having been put down and before the TJ’s instruction, the
exercise is to be scored with maximum satisfactory.

<hr>