<h3 id="change-of-position">Change of Position (15 points)</h3>

10 m from the table, the DH assumes the basic position. From there the DH sends his D
with AC/VC onto the table. The D has to jump without hesitation on the table and remain
standing.
The following positions are to be demonstrated at the judge’s instruction on the table
– Sit / Down / Stand.
At the end of the exercise, the D is recalled by the DH at the instruction of the judge.
The D has to sit in front and with 1 AC assume the basic position.


<img src="https://i.imgur.com/hFfSsyB.png">

{% include alert.html type="danger"
content=''
%}

{% include alert.html
content=""
%}

**Execution:**

1.

Hesitant mounting, slow recall, mistakes in sitting and ending the exercise, as well as
additional AC and body aids by the DH devalue accordingly.
Positions that are not shown devalue according to the description in the respective test
level.

<hr>