<h3 id="down-with-recall">Down with recall (10 points)</h3>

The dispatch location is determined by the judge.
- 1 AC and/or VC for “Heeling”
- 1 AC and/or VC for “Down”
- 1 AC and/or VC for “Recall”
- 1 AC and/or VC for “Basic position”


<img src="https://i.imgur.com/ToMC2JI.png">

{% include alert.html type="danger"
content='If the dog sits or stands after your "lie down" command then you loose 5 points.'
%}

**Execution:**

1.

From the basic position, the DH goes with his off-leash heeling dog straight on. After 10-
15 steps, the D has to lie in the direction of movement when given the AC and/or VC for
“down” without the DH breaking stride or turning around. After an additional approx.
30 steps walking straight ahead, the DH stops and turns to his dog that is calmly lying
down.
At the instruction of the judge, the DH calls the D with the AC or VC to “recall”. The D is
to come happily and at a fast pace to his DH and sit close in front.
On AC, the D has to go in basic position.
Mistakes in the development, slow lying down, restless down, slow recall, mistakes in
sitting and ending the exercise, as well as additional AC and body aids by the DH
devalue accordingly.

<hr>