<h3 id="on-leash-heeling">On-Leash Heeling (10 points)</h3>

* In V tests, the dog is on leash.
* Your dog should heel properly, focused and near you.
* Giving extra commands will devalue the exercise.

<img src="https://i.imgur.com/vQyJHcC.png">

{% include alert.html type="danger"
content="Making wide turns will devalue the exercise."
%}

{% include alert.html
content="All about turns should go towards left side."
%}

**Execution:**

1.

The TJ gives the directive to start the exercise. Everything else, such as turns, halt,
change of pace etc., is executed without the directive of the TJ or TC.
At the beginning of the exercise, the RDT goes out 50 steps on the middle line
straight on at normal pace without stopping; during this phase there is the
gunshot. After an about turn and an additional 10-15 steps at normal pace, the
RDT has to demonstrate a minimum of 10 steps each in fast and slow pace
respectively.
The change of pace from running to slow has to be done without intermediate
steps. The individual gaits need to be clearly distinguishable in the tempo of D and
DH.
Afterwards, the RDT takes several normal steps and without a change in pace and
does the first turn with a leg of 20-25 steps, the second turn with a leg of 25-30 steps,
an about turn, additional 10-15 normal steps as well as a basic position.
After additional 10-15 normal steps, a turn and 20-25 steps at a normal pace take the
RDT back to the middle line, then another basic position.

<hr>