<h3 id="traversing-an-elevated-rigid-wooden-board">Traversing an elevated rigid wooden Board (10 points)</h3>

Site and execution according to sketch 20.2
- 1 AC and/or VC for "mounting";
- 1 AC for "remaining in place";
- 1 AC for "going further".
According to chapter 3.3.14
If the D jumps off the board within the first half, the exercise is scored with 0
39 / 98FCI / IRO
2019
Int. Trial Rules for Search and Rescue Dog Tests
points.
If the D jumps off the board after the first half, the exercise if considered insufficient.

<img src="https://i.imgur.com/XX7Zqo8.png">

{% include alert.html type="danger"
content=""
%}


**Execution:**

1.

Execution
Evaluation
The DH assumes the basic position with his off leash D in front of the obstacle.
At the AC and/or VC to “mount”, the D is to jump onto the board and at an AC to
immediately “remain in place” in the direction of movement.
At the instruction of the TJ, the DH goes to the side of the D, gives the AC or VC to “Go
on” and accompanies the D up to the final basic position. There he stops and his dog
independently assumes the basic position.
The D has to go the entire length of the wooden board without any fear or being erratic.
Insecure, hesitant and/or h

<hr>