<h3 id="traversing-unpleasant-material">Traversing unpleasant Material (15 points)</h3>

The DH assumes the basic position with his D in front of the area. With the command to
“heel”, the DH steps on the area and goes with his off leash D one time over and back,
whereby a halt has to be demonstrated on the return portion. Here the D has to sit
quickly.
After leaving the area the DH assumes the basic position with his D.
Insecure behaviour, hesitation and avoiding materials devalue the exercise accordingly.

<img src="https://i.imgur.com/7PwJINL.png">

{% include alert.html type="danger"
content=""
%}


**Execution:**

1.

<hr>