<h3 id="tunnel-with-tube">Tunnel with Tube (10 points)</h3>

Site and execution according to sketch 20.8 and chapter 2.4.1
Execution
EvaluationAccording to chapter 3.3.13
If the D does not leave the tunnel or does not stay at the AC, the exercise is considered
insufficient.

<img src="https://i.imgur.com/v8VmRt1.png">

{% include alert.html type="danger"
content=""
%}


**Execution:**

1.

Execution
Evaluation
The DH assumes the basic position with his off-leashed D in front of the apparatus. At the
AC and/or VC for “through” the D has to go confidently through the apparatus. After the D
has left the apparatus, the DH gives the AC and/or VC to “stay”. At the instruction of the
TJ, the DH goes to his D and with an AC or VC commands him to assume the basic
position.
Insecure, hesitant and/or hectic going in and through the obstacle devalue the exercise
accordingly.
If the D does not leave the tunnel, or does not stay after the AC/VC, the exercise will be
scored as insufficient.

<hr>